html
  head
    link(rel="stylesheet" type="text/css" href="/style.css")
  body
    h1 Request Header Parser Microservice
    h2 Your IP
    p #{ip}
    h2 Your Lanuage
    p #{language}
    h2 Your Software
    p #{software}
